@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  --text-main-color: rgb(51,51,51);
  --text-light-color: #757477;
  --accent-color: #7bb57c;
  --background-color: #f7f5f6;
  --section-color: #fff;
}

body {
  background-color: var(--background-color);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 38px;
}