@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main-color: #333333;
  --text-light-color: #757171;
  --text-tertiary-сolor: #fff;
  --accent-color: #7bb57c;
  --background-color: #f7f5f6;
  --background-color-second: #fff;
  --section-color: #fff;
  --text-block-color: grey;
  --input-light-color: #c5cbd6;
  --our-blog-color: #707070;
  --out-of-stock-background: #FFDDD9;
  --out-of-stock-text: #CC3833;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

img {
  display: block;
  width: 100%;
}

a, li {
  text-decoration: none;
}

h2 {
  font-size: 38px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 15px;
  }
}

.highlighted-text {
  color: var(--accent-color);
  font-weight: 700;
}

.fixed {
  width: 100%;
  position: fixed;
}

.dashed-arrow {
  width: 24px;
  display: inline;
  margin-left: 7px;
}