@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main-color: #333333;
  --text-light-color: #757171;
  --accent-color: #7bb57c;
  --background-color: #f7f5f6;
  --background-color-second: #fff;
  --section-color: #fff;
  --text-block-color: grey;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 38px;
}

.container {
  max-width: 1175px;
  margin: auto;
}

.highlighted-text {
  color: var(--accent-color);
  font-weight: 700;
}
