.footer {
    background-color: var(--text-main-color);
    color: var(--section-color);
}

.logo-description__img img{
    width: 111px;
}

.logo-description__text {
    font-size: 14px;
}

.footer__nav-link {
    color: var(--section-color);
    display: block;
}

.footer__social-links svg {
    fill: var(--section-color);
}

.footer__content-bottom {
    color: var(--text-light-color);
}

.newsletter-form__email {
    color: var(--section-color);
    background-color: var(--text-light-color);
    border: 0;
    margin: 12px 0px 0px;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 12px;
}

.footer__newsletter-form form {
    display: flex;
    align-items: center;
}

.footer .button-tertiary {
    margin: 12px 0px 0px;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 12px;
    height: 100%;
}