.header {
  background: url("../img/header-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav__logo img {
  max-width: 110px;
}

.header-nav__link {
  text-decoration: none;
  color: var(--text-main-color);
  font-size: 15px;
  font-weight: 500;
}

.header-nav__link:hover {
  color: var(--accent-color);
}

.shop-link {
  border: 3px solid var(--accent-color);
  border-radius: 3px;
  color: var(--text-light-color);
  font-weight: 700;
  font-size: 11px;
  transition: all 200ms ease-in-out;
}

.shop-link:hover {
  background-color: var(--accent-color);
  color: white;
}

.header-hero {
  height: 100vh;
}

.header-hero__title {
  color: var(--text-main-color);
  font-size: 84px;
}

.header-hero__text {
  color: var(--text-main-color);
  font-size: 18px;
}

.header-hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 256px;
  height: 54px;
  text-decoration: none;
  background-color: var(--accent-color);
  color: white;
  font-weight: 600;
  font-size: 13px;
  transition: all 200ms ease-in-out;
}

.header-hero__link:hover {
  background-color: var(--text-main-color);
}
