.promotions {
  background-color: var(--section-color);
}

.promotions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotions__img-container {
  width: 300px;
}

.promotions__item {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.promotions__item-img {
  background-position: center;
  }

.promotions__item-text {
  font-weight: 500px;
  color: var(--text-main-color);
}

.promotions__item-learn-container {
  display: flex;
  align-items: center;
}

.promotions__item-learn {
  font-size: 12px;
  text-decoration: underline;
}


/* Стилі для зображень у елементах для менших екранів */
@media (max-width: 767px) {
  .promotions__item-img {
    height: 150px;
    width: 280px;
  }
}

/* Стилі для зображень у елементах для середніх екранів */
@media (min-width: 768px) and (max-width: 1023px) {
  .promotions__item-img {
    height: 200px;
    width: 330px;
  }
}

/* Стилі для зображень у елементах для великих екранів */
@media (min-width: 1024px) {
  .promotions__item-img {
    height: 250px;
    width: 380px;
  }
}

/* Загальні стилі для тексту у елементах */
.promotions__item-text {
  font-weight: 500;
  color: var(--text-main-color);
}

/* Стилі для тексту у елементах для менших екранів */
@media (max-width: 767px) {
  .promotions__item-text {
    font-size: 14px;
  }
}

/* Стилі для тексту у елементах для великих екранів */
@media (min-width: 1024px) {
  .promotions__item-text {
    font-size: 18px;
  }
}

/* Стилі для контейнера з посиланням "Дізнатися більше" */
.promotions__item-learn-container {
  display: flex;
  align-items: center;
}

/* Стилі для тексту посилання "Дізнатися більше" */
.promotions__item-learn {
  font-size: 12px;
  text-decoration: underline;
}

