.fave-finds {
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color-second)
}
.fave-finds__title-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.fave-finds__description-container{
  padding-top: 20px;
}
.fave-finds__description-text {
  margin: 30px, 0 0 0;
  color: var(--text-main-color);
  text-align: left;
  white-space: normal;
}
.fave-finds_content {
width: 320;
align-items: center;
}
.navigation__tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  align-items: center;
}
.tab__toggler {
  color: var(--text-light-color);
  font-size: 14px;
  margin: 5px;
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px, solid, var(--text-light-color);
  line-height: 1.5;
  display: none;
  border-top: 1px solid #ccc;
}

.tabs__label {
  padding: 15px 20px;
  cursor: pointer;
}

.category-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.tab__toggler:checked+.tabs__label {
  font-weight: bold;
  color: var(--text-block-color);
  border-bottom: 2px solid var(--accent-color);
}

.tab__toggler:checked+.tabs__label+.tabs__content {
  display: initial;
}

.item__list{
  padding:15px 0px 15px 0px;
}
.five__preview {
  width: 100%;
  height: auto;
  padding: 1px;
}
.name_item-container{
  text-align: center;
}
.name_item-text{
  align-items: center;
}
.price__fav {
  color: var(--accent-color);
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.order-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width:568px){

}

@media (min-width:992px){
  .tab-content {
    flex-direction: row;
}
.category-content{
  flex-direction: row;
}
.tabs__label {
  cursor: pointer
}
.content__block {
  margin: 45px;
}
.item__list{
  padding:15px 15px 15px 15px;
}
.navigation__tabs {
  display: flex;
 flex-wrap: wrap;
}
}