.about__us{
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--section-color);
}
.about__section {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}
.about__section-text {
    background-color: var(--background-color);
    padding-left: 15px;
    padding-right: 15px;
}
.about__header-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: var(--text-light-color);
} 
.about__text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
}
.text-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.text-content-inside {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.about-us-photo-container {
    
}
.about-us-photo {
  position:static;
  right: 50px;
}
