.spring-collection-box{
    width: 100%;
    float: left;
    margin-top: 50px;
    min-height: 600px;
    background-image: url(../img/background_main.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.spring-collection-box__title{
    font-size: 70px;
    font-weight: bold;
    width: 40%;
    margin-left: 10%;
}
.spring-collection-box__title-green{
    color: var(--accent-color);
}
.spring-collection-box__text{
    width: 50%;
    margin-left: 10%;
}
.spring-collection-box__button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--section-color);
    font-weight: bold;
    margin-left: 10%;
}

.spring-collection-box__button:hover{
    background-color: var(--text-main-color);
    transition: background-color 1s ease;
}

.decision{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 70px;
}
.decision__block-white{
    width: 600px;
    height: 400px;
    float: left;
    background-image: url(../img/decision_img_white.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.decision__text-up-white{
    margin-top: 8%;
}
.decision__title-white{
    font-weight: 300;
    margin-top: 5%;
}
.decision__text-down-white{
    color: var(--text-block-color);
    margin-top: 5%;
}
.decision__block-white-button{
    width: 130px;
    height: 43px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color:  var(--section-color);
    font-weight: bold;
    margin-top: 5%;
}

.decision__block-white-button:hover{
    background-color: var(--text-main-color);
    transition: background-color 1s ease;
}

.decision__block-black{
    width: 600px;
    height: 400px;
    float: left;
    background-image: url(../img/decision_img_black.webp);
    background-size: cover;
}
.decision__text-up-black{
    color: var(--text-block-color);
    margin-top: 8%
}
.decision__title-black{
    font-weight: 300;
    color: var(--section-color);
    margin-top: 5%
}
.decision__text-down-black{
    color: var(--section-color);
    margin-top: 5%
}
.decision__block-black-button{
    width: 130px;
    height: 43px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--section-color);
    font-weight: bold;
    margin-top: 5%
}
.decision__block-black-button:hover{
    background-color: var(--section-color);
    color: var(--text-main-color);
    transition: background-color 1s ease;
}