.top-collection {
  background: url("../img/top-collections.background.webp");
  height: 710.4px; /* Задаємо висоту секції для манайменшої ширини 320px (потім змінюється в media-query) */
  padding: 100px 0; /* Внутрішні відступи в секції, щоб розмістити по центру без flexbox'у*/
}

@media (min-width: 1024px) {
  .top-collection {
    height: 597.2px;
    padding: 160px 0;
  }
}

@media (min-width: 1440px) {
  .top-collection {
    height: 504.8px;
  }
}

.top-collection__title {
  font-size: 58px;
  font-weight: 700;
  color: var(--text-main-color);
  text-align: center; /* Вирівнюємо текст по центру */
  line-height: 63.8px;  /* Висота рядку тексту. Для кожної шири екрану може бути різна. Треба дивитися через F12 на вебліумі */
  overflow-wrap: break-word; /* Якщо слово не влазить у рядок, нехац "розламується" на частини */
}

 /* media звпит для широких десктопних екранів */
@media (min-width: 1024px) { 
  .top-collection__title {
    line-height: 92.4px;
    font-size: 84px;
  }
}

.top-collection__clock {
  font-size: 2em;
  color: blue;
  /* margin-right: 100px; Задайте відстань від правого краю */
}
