
.our-blog-images {
    color: var(--accent-color)
}
.our-blog__header {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: var(--section-color);
}
.our-blog__text-block {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: var(--text-main-color);
    text-align: center;
}
.our-blog__text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--text-main-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}
.custom-block {
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 450px;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32;
    align-items: center;
    border-width: 0,50px; 
    border-style: solid; 
    border-color: var(--background-color);
    padding-left: 40px;
    padding-right: 40px;
}
.our-blog__table {
    padding-top: 90px;
    padding-bottom: 100px;
}
.our-blog__inner {
    padding-left: 40px;
    padding-right: 40px;
}