.fave-finds {
  width: 1200px;
  height: 652px;
  display: flex;
  justify-content: center;
}

.fave-finds__container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.fave-finds__header {
  width: 1200px;
  justify-content: left;
  text-align: left;
}

.tab-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.navigation__tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.tabs__label {
  margin: 55px, 55px;
  cursor:pointer
}
.tab__fav {
  color: var(--text-light-color);
  font-size: 14px;
  margin: 15px;
  display: none;
}
.tab__fav:checked +.tabs__label {
  font-weight: bold;
  color:var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}
.tab__fav:checked +.tabs__label+.tabs__content1{
  display:initial;
}
.tabs__content1 {
  order:1;
  width: 100%;
  border-bottom: 3px, solid, var(--accent-color);
  line-height: 1.5;
  display: none;
}
.five__preview {
  width: 250px;
  height: 250px;
  padding: 15px;
}

.price__fav {
  color: var(--accent-color);
  margin: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.block__description {
  font-family: 'Poppins', sans-serif;
  /*size: 16px;*/
  color: var(--text-main-color);
  text-align: center;
}