.spring-collection-box{
    width: 100%;
    min-height: 722.95px;
    background-image: url("../img/background_main.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spring-collection-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.spring-collection-box__title{
    font-size: 84px;
    line-height: 92.4px;
    font-weight: bold;
    width: 50%;
    color: var(--text-main-color);
}

.spring-collection-box__text{
    width: 50%;
    color: var(--text-main-color);
}

.spring-collection-box .button-secondary{
    width: 154.18px;
    height: 52px;
}

.decision{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 70px;
}
.decision__block-white{
    width: 600px;
    height: 400px;
    background-image: url("../img/decision_img_white.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.decision__text-up-white{
    margin-top: 8%;
}
.decision__title-white{
    font-weight: 300;
    margin-top: 5%;
}
.decision__text-down-white{
    color: var(--text-block-color);
    margin-top: 5%;
}
.decision__block-white-button{
    width: 130px;
    height: 43px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color:  var(--section-color);
    font-weight: bold;
    margin-top: 5%;
}

.decision__block-white-button:hover{
    background-color: var(--text-main-color);
    transition: background-color 1s ease;
}

.decision__block-black{
    width: 600px;
    height: 400px;
    float: left;
    background-image: url("../img/decision_img_black.webp");
    background-size: cover;
}
.decision__text-up-black{
    color: var(--text-block-color);
    margin-top: 8%
}
.decision__title-black{
    font-weight: 300;
    color: var(--section-color);
    margin-top: 5%
}
.decision__text-down-black{
    color: var(--section-color);
    margin-top: 5%
}

.decision .button {
    width: 130px;
    height: 43px;
    margin-top: 5%
}