.about__us {
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--section-color);
}
.about__section {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}
.about__section-text {
  background-color: var(--background-color);
  padding-left: 15px;
  padding-right: 15px;
}
.about__text {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: flex;
}

.about-us-photo-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 500px) {
  .about__section-text {
    text-align: left;
    flex-direction: column;
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.accordion-item {
  border: 1px solid var(--background-color);
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-header {
  background-color: var(--background-color);
  padding: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-main-color);
  border-bottom: 1px solid rgb(86, 86, 86);
}

.accordion-content {
  display: none;
  padding: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.accordion-item.active .accordion-content {
  display: block;
  max-height: 300px;
}

#clock {
  color: purple;
  font-size: 5em;
  text-align: center;
  margin-top: 50px;
}
