              .style {
                  font-size: 50px;
                  font-weight: 700px;
                  color: var(--accent-color);
                  width: 369px;
              }

              .top-collection__title {
                  font-size: 50px;
                  font-weight: 700px;
                  color: var(--text-main-color);
                  width: 369px;
              }