@import "common.css";
@import "controls.css";
@import "header-nav.css";
@import "footer.css";

/* .item-page__container { */
/* } */
.item__link {
  color: var(--text-main-color);
}
/* .item__images {
} */
.item__photo {
  width: 358px;
  height: 428px;
}
.item__minor-photo-grid {
  display: inline-flex;
  width: 582px;
  height: 118px;
}
.item__minor-photo {
  width: 104px;
  height: 106px;
  margin: 6px;
}
.item__description-block {
  /* float: right; */
}
.item__stock {
  color: var(--accent-color);
}
.item__name {
  color: var(--text-main-color);
}
.item__code {
  color: var(--text-main-color);
}
.item__price {
  color: var(--text-main-color);
}
.item__description-block .button-secondary {
  width: 484px;
  height: 48px;
  border: 1.6;
  border-radius: 8px;
}
.item__description {
  color: var(--text-main-color);
}
.item__description-text {
  color: var(--text-main-color);
}
