@import "common.css";
@import "controls.css";
@import "header-nav.css";
@import "footer.css";

body {
  background-color: var(--background-color-second);
}

.store-homepage-container {
  padding: 90px 24px;
  display: flex;
  flex-direction: column;
}

.store-homepage__title,
.products__title {
  color: var(--text-main-color);
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 90px;
}

.products__title {
  padding-bottom: 25px;
}

.products-container {
  display: grid;
}

.products-container__product {
  padding: 15px;
}

.product__item {
  color: var(--text-main-color);
  font-size: 19px;
  font-weight: 500;
}

.product__item--image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.product__item--image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__item-name {
  margin-top: 8px;
}

.product__price {
  color: var(--accent-color);
  font-size: 19px;
  font-weight: 700;
}

.products-container__product .button-secondary {
  height: 52px;
  width: 83px;
  font-size: 12px;
  margin-top: 24px;
}

.page-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-settings__label {
  color: var(--text-light-color);
  font-size: 12px;
}

.products-per-page__select {
  position: relative;
}

.products-per-page {
  margin-left: 8px;
  width: 66px;
  height: 28px;
  border: 1px solid var(--input-light-color);
  border-radius: 3px;
  padding-left: 12px;
  appearance: none;
}

.products-per-page__arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -3px;
  pointer-events: none;
}
